<h1>Eat a burger!</h1>
<ul>
    {{#each burgers}}
    <li>
        <p>Type: {{this.burger_type}}</p>

    </li>
    {{/each}}
</ul>
<form action="/" method="POST">
    <textarea type="text" name="burgers"></textarea>

    <button type="submit">Submit</button>
</form>